<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-3 col-12 mb-2 px-lg-3 px-0">
            <div class="bg-primary rounded-3 p-2 text-white shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi bi-basket"></i>
                    <span>5</span>
                </div>
                <div class="col">
                    New orders
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-2 px-lg-3 px-0">
            <div class="bg-primary rounded-3 p-2 text-white shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi bi-basket"></i>
                    <span>5</span>
                </div>
                <div class="col">
                    New orders
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-2 px-lg-3 px-0">
            <div class="bg-primary rounded-3 p-2 text-white shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi bi-basket"></i>
                    <span>5</span>
                </div>
                <div class="col">
                    New orders
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-2 px-lg-3 px-0">
            <div class="bg-primary rounded-3 p-2 text-white shadow-sm">
                <div class="col d-flex align-items-center justify-content-between">
                    <i class="bi bi-basket"></i>
                    <span>5</span>
                </div>
                <div class="col">
                    New orders
                </div>
            </div>
        </div>
    </div>
</div>