<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title m-0">Packages</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right d-none d-md-block">
                                
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end page-title-box -->
            </div>
        </div> 
        <!-- end page title -->
        <div class="row">
            <div class="col-6">
                  <div class="card m-b-30">
                <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                    <p class="card-text"></p>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a>
                      <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                            </div>
                        
               </div>
            </div>
        </div>
            <div class="col-6">
                <div class="card m-b-30">
                    <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a>
                          <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                                </div>
                             </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card m-b-30">
                    <img class="card-img-top img-fluid" src="assets/images/small/img-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-16 mt-0">Package name: 3 in one package</h4>
                        <p class="card-text"></p>
                       <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-primary waves-effect waves-light" id="btt1">Edit</a>
                              <a href="#" class="btn btn-primary waves-effect waves-light" id="btt2">Delete</a>
                                    </div>
                                
                    </div>
                </div>
            </div>
        </div>
