<div class="container-fluid bg-custom rounded-top border shadow-sm mb-2 boundary-align">
    <div class="row">
        <div class="col-12 py-2 d-flex align-items-center justify-content-between">
            <i class="bi bi-list pointer d-md-none d-block"></i>
            <div class="p-0 rounded-3" uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                <app-sidebar></app-sidebar>
            </div>
            <span>Tapau</span>
            <i class="bi bi-person-circle"></i>
        </div>
    </div>
</div>